<ul class="navigation">
  {% unless page.url == "/" -%}
    <li>
      <h1><a href="/" class="logo-small" title="Atom: A hackable text editor for the 21st Century"></a></h1>
    </li>
  {% endunless -%}
  <li><a href="/packages"{% if page.url == "/packages/" %}class="is-selected"{% endif %}>Packages</a></li>
  <li><a href="/themes"{% if page.url == "/themes/" %}class="is-selected"{% endif %}>Themes</a></li>
  <li><a href="/docs"{% if page.url == "/docs/" %}class="is-selected"{% endif %}>Documentation</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="https://github.com/atom/atom/discussions">Discussions</a></li>
</ul>
