<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title | default: "Atom" }}</title>

  <link rel="stylesheet" href="/assets/stylesheets/application.css">

  <link rel="preload" href="/assets/stylesheets/application.css" as="style">

  <link rel="shortcut icon" href="/favicon.ico">

  <meta name="description" content="At GitHub, we’re building the text editor we’ve always wanted: hackable to the core, but approachable on the first day without ever touching a config file. We can’t wait to see what you build with it.">

  <meta property="og:url" content="https://atom-editor.cc">
  <meta property="og:site_name" content="Atom">
  <meta property="og:title" content="A hackable text editor for the 21st Century">
  <meta property="og:description" content="At GitHub, we’re building the text editor we’ve always wanted: hackable to the core, but approachable on the first day without ever touching a config file. We can’t wait to see what you build with it.">
  <meta property="og:type" content="website">
  <meta property="og:author" content="https://www.facebook.com/GitHub">
  <meta property="og:image" content="/assets/images/atom-mark@1200x630.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
</head>
<body class="is-responsive">

  <div class="footer-push">
    <nav aria-label="Primary" class="top-bar">
      <div class="wrapper no-pad">
        {% include "navigation.liquid", page: page %}
      </div>
    </nav>

    <div>
      {{ content }}
    </div>

    <div class="footer-pad"></div>
  </div>

  {% include "footer.liquid" %}

</body>
</html>
