/* line 5, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/account.scss */
.account-show {
  h3 {
    margin-bottom: 0;
  }

  section {
    margin-bottom: 64px;
    border-bottom: 1px #efeae1;
  }
}

.account-invites {
  text-align: center;
  background-color: #efeae1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.account-token {
  padding-right: 90px;

  h3 {
    margin-top: 0;
  }

  .show-token {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    width: 280px;
    text-align: center;
  }

  input[type="submit"] {
    height: 34px;
    font-size: 14px;
  }
}

.address-block p {
  padding-right: 90px;
}

.address-form {
  margin: 0 auto;

  &.loading {
    opacity: 0.7;
  }

  .hidden {
    display: none;
  }

  label,
  input,
  select {
    display: inline-block;
  }

  label {
    width: 20%;
    text-align: right;

    + input {
      width: 55%;
      margin: 16px 10% 0 4%;
    }

    + select {
      width: 55%;
      margin: 16px 10% 0 4%;
    }
  }

  input {
    + input {
      float: right;
    }

    + select {
      float: right;
    }

    &[disabled] {
      opacity: 0.8;
    }
  }

  input[type="submit"],
  .button {
    margin: 16px 20% 0 4%;
    width: 27.5%;
    float: right;
    text-align: center;
    line-height: normal;
  }
}
