.admin {
  .spinnin {
    opacity: 0.5;
  }

  .explanation {
    font-size: 80%;
    color: #a29f99;
    margin-top: 6px;
  }

  h3,
  h4 {
    margin-bottom: 0px;
  }

  .admin-package-search input[type=text] {
    width: 100%;
  }

  .admin-package-search-results {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;

    ul.package-list li {
      padding: 4px;

      &:nth-child(odd) {
        background-color: #f8f6f2;
      }
    }
  }

  ul.package-list {
    padding: 0px;
    border-top: 1px solid #d3d1ce;
    border-left: 1px solid #d3d1ce;
    border-right: 1px solid #a29f99;

    li {
      width: 100%;
      list-style-type: none;
      padding: 6px;
      border-bottom: 1px solid #a29f99;

      .delete-button {
        color: #cc0000;
      }

      .add-button {
        color: #3b9b6d;
      }

      .octicon {
        float: right;
        margin: 6px;
      }

      &:nth-child(odd) {
        background-color: #efeae1;
      }
    }
  }

  .flags-list {
    thead {
      background-color: #eee;
    }

    tbody tr:nth-child(2n) {
      background-color: #eee;
    }
  }

  .flag-details {
    &.unresolved {
      background-color: #ffa5a5;
    }

    &.resolved {
      background-color: #e6ffcb;

      h3 {
        text-decoration: line-through;
      }
    }
  }

  .blacklisting-details {
    background-color: #ffa5a5;
  }
}
