.contact-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 20px 0;
}

.contact-list {
  list-style-type: 0;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 5px;

    &:first-child a {
      padding-left: 0;
    }
  }

  a {
    padding: 5px;
  }

  td:first-child {
    padding-right: 10px;
  }
}

form.contact-form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  dl.form {
    margin-left: auto;
    margin-right: auto;

    dd {
      margin: 0;
    }

    input[type="text"],
    textarea {
      margin-bottom: 14px;
      width: 100%;
    }
  }

  input[type="submit"] {
    float: right;
    font-size: 16px;
  }
}

.illustration-contact {
  background-image: url("/assets/images/contact.gif");
  height: 470px;
  position: relative;
  width: 410px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url("/assets/images/contact@2x.gif");
    -webkit-background-size: 410px 470px;
    -moz-background-size: 410px 470px;
    -o-background-size: 410px 470px;
    background-size: 410px 470px;
  }
}
