/* line 13, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.api-search-result {
  width: 780px;
}
/* line 19, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.api-search-result .highlights em {
  font-style: normal;
  font-weight: bold;
}
/* line 24, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.api-search-result .highlights .highlight-separator {
  margin-left: 8px;
  margin-right: 8px;
}

/* line 31, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents {
  line-height: 1.6;
}
/* line 34, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents a:focus {
  outline: 0;
}
/* line 38, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  padding: 0.3em 0;
  background-color: #f8f6f2;
  border-radius: 3px;
  border: none;
}
/* line 47, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .extended-methods-container .extended-methods {
  display: none;
}
/* line 51, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .extended-methods-container.show .extended-methods {
  display: block;
}
/* line 55, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .extended-methods-container.show .extended-toggle .octicon:before {
  content: '\f0a3';
}
/* line 60, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .extended-toggle {
  display: block;
  margin: 20px 0;
  font-weight: normal;
}
/* line 65, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .extended-toggle .octicon {
  color: #b4daba;
  width: 12px;
}
/* line 71, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .no-methods-message {
  opacity: .5;
  font-style: italic;
}
/* line 76, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .markdown-body {
  font-size: 16px;
}
/* line 80, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .markdown-body .anchor .octicon {
  color: #9e9b95;
}
/* line 85, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .markdown-body pre {
  margin: 0;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
/* line 91, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .markdown-body .reference-link {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
/* line 97, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .column.sidebar {
  width: 30%;
}
/* line 100, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .column.main-column {
  width: 70%;
}
/* line 105, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .section {
  border-bottom: solid 1px #efeae1;
}
/* line 109, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .detail-section {
  margin: 30px 0 20px 0;
}
/* line 114, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .document-section-nav h3 {
  margin-bottom: 4px;
  font-size: 18px;
}
/* line 119, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .document-section-nav h3 a {
  color: #574c4f;
}
/* line 126, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .label {
  display: inline-block;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 133, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .label.label-extended {
  background: #faaf4f;
}
/* line 137, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .label.label-essential {
  background: #81c08b;
}
/* line 142, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .page-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}
/* line 149, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .page-title .label {
  vertical-align: middle;
  margin-top: -2px;
  padding: 6px;
  font-size: 12px;
}
/* line 158, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .method-signature .argument {
  color: #666;
}
/* line 163, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents a:hover .octicon-file-code {
  color: #2d7653;
}
/* line 167, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .document-source {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  font-size: 14px;
  color: #3b9b6d;
}
/* line 175, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .example {
  margin: 1em 0;
}
/* line 178, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .example .description {
  margin-bottom: 1em;
}
/* line 183, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .operator {
  color: #b4daba;
}
/* line 188, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry h1, .documents .api-entry h2, .documents .api-entry h3, .documents .api-entry h4, .documents .api-entry h5, .documents .api-entry h6 {
  margin: 1em 0 !important;
}
/* line 192, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry h3 {
  font-size: 16px;
}
/* line 196, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry h4, .documents .api-entry h5, .documents .api-entry h6 {
  font-size: 14px;
}
/* line 200, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .method-summary-wrapper {
  display: none;
}
/* line 204, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry.expanded {
  padding-bottom: 10px;
}
/* line 206, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry.expanded .method-summary-wrapper {
  display: block;
  padding-bottom: 20px;
}
/* line 212, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry > .name {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-weight: normal;
}
/* line 219, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .source-link {
  display: inline;
  color: #81c08b;
}
/* line 223, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .source-link .octicon {
  position: relative;
  top: -2px;
}
/* line 228, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .summary p {
  margin-top: 0;
}
/* line 231, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .summary p:last-child {
  margin-bottom: 1em;
}
/* line 236, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values,
.documents .api-entry .arguments {
  margin: 1em 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #efeae1;
}
/* line 244, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .optional,
.documents .api-entry .arguments .optional {
  float: right;
  background: #f8f6f2;
  margin-top: -8px;
  margin-right: -10px;
  display: block;
  padding: 0px 6px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 257, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values th,
.documents .api-entry .arguments th {
  padding: 8px 10px;
  font-size: 14px;
  color: #8e6965;
  text-align: left;
  background-color: #faf8f5;
}
/* line 265, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values td,
.documents .api-entry .arguments td {
  padding: 8px 10px;
  vertical-align: top;
  border-top: solid 1px #efeae1;
}
/* line 271, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values p,
.documents .api-entry .arguments p {
  margin: 0;
}
/* line 275, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-1 > td,
.documents .api-entry .return-values .argument-depth-2 > td,
.documents .api-entry .return-values .argument-depth-3 > td,
.documents .api-entry .return-values .argument-depth-4 > td,
.documents .api-entry .return-values .argument-depth-5 > td,
.documents .api-entry .arguments .argument-depth-1 > td,
.documents .api-entry .arguments .argument-depth-2 > td,
.documents .api-entry .arguments .argument-depth-3 > td,
.documents .api-entry .arguments .argument-depth-4 > td,
.documents .api-entry .arguments .argument-depth-5 > td {
  border-top: none;
}
/* line 282, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-1 > td > code,
.documents .api-entry .return-values .argument-depth-2 > td > code,
.documents .api-entry .return-values .argument-depth-3 > td > code,
.documents .api-entry .return-values .argument-depth-4 > td > code,
.documents .api-entry .return-values .argument-depth-5 > td > code,
.documents .api-entry .arguments .argument-depth-1 > td > code,
.documents .api-entry .arguments .argument-depth-2 > td > code,
.documents .api-entry .arguments .argument-depth-3 > td > code,
.documents .api-entry .arguments .argument-depth-4 > td > code,
.documents .api-entry .arguments .argument-depth-5 > td > code {
  background-color: transparent;
  padding: 0;
  color: #2e282a;
}
/* line 287, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-1 > td > code:before, .documents .api-entry .return-values .argument-depth-1 > td > code:after,
.documents .api-entry .return-values .argument-depth-2 > td > code:before,
.documents .api-entry .return-values .argument-depth-2 > td > code:after,
.documents .api-entry .return-values .argument-depth-3 > td > code:before,
.documents .api-entry .return-values .argument-depth-3 > td > code:after,
.documents .api-entry .return-values .argument-depth-4 > td > code:before,
.documents .api-entry .return-values .argument-depth-4 > td > code:after,
.documents .api-entry .return-values .argument-depth-5 > td > code:before,
.documents .api-entry .return-values .argument-depth-5 > td > code:after,
.documents .api-entry .arguments .argument-depth-1 > td > code:before,
.documents .api-entry .arguments .argument-depth-1 > td > code:after,
.documents .api-entry .arguments .argument-depth-2 > td > code:before,
.documents .api-entry .arguments .argument-depth-2 > td > code:after,
.documents .api-entry .arguments .argument-depth-3 > td > code:before,
.documents .api-entry .arguments .argument-depth-3 > td > code:after,
.documents .api-entry .arguments .argument-depth-4 > td > code:before,
.documents .api-entry .arguments .argument-depth-4 > td > code:after,
.documents .api-entry .arguments .argument-depth-5 > td > code:before,
.documents .api-entry .arguments .argument-depth-5 > td > code:after {
  content: none;
}
/* line 294, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-1 > td:first-child,
.documents .api-entry .arguments .argument-depth-1 > td:first-child {
  padding-left: 27px;
}
/* line 297, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-2 > td:first-child,
.documents .api-entry .arguments .argument-depth-2 > td:first-child {
  padding-left: 42px;
}
/* line 300, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-3 > td:first-child,
.documents .api-entry .arguments .argument-depth-3 > td:first-child {
  padding-left: 57px;
}
/* line 303, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-4 > td:first-child,
.documents .api-entry .arguments .argument-depth-4 > td:first-child {
  padding-left: 72px;
}
/* line 306, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values .argument-depth-5 > td:first-child,
.documents .api-entry .arguments .argument-depth-5 > td:first-child {
  padding-left: 87px;
}
/* line 310, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/documents_next.scss */
.documents .api-entry .return-values code .argument-list,
.documents .api-entry .arguments code .argument-list {
  opacity: .6;
}
