.survey-landing {
  .survey-button .octicon {
    margin-right: 6px;
  }

  input.survey-link {
    background-color: transparent;
    border: none;
    color: #a29f99;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
  }
}
