// stylelint-disable-next-line selector-id-pattern
#lean_overlay {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.blacklist-modal,
.delete-modal,
#flag-modal {
  background: #efeae1;
  border-radius: 3px;
  padding: 24px;
  text-align: center;

  .octicon {
    font-size: 1.5em;
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
  }

  p {
    margin-top: 0;
  }

  textarea,
  input[type="text"] {
    margin-bottom: 24px;
    width: 100%;
  }

  .flag-button {
    float: right;
    font-size: 14px;
    height: 34px;
    line-height: 0;
    margin: 0;
    margin-left: 10px;
  }
}
