.side-nav {
  background-color: #f8f6f2;
  border-radius: 3px;

  ul {
    padding-bottom: 15px;
    padding-left: 0px;
    margin-top: 0;
  }

  .side-nav-item {
    list-style-type: none;

    a {
      display: block;
      padding: 2px 15px;

      &:hover {
        text-decoration: none;
        background-color: #efeae1;
      }
    }

    &.active a {
      color: #fff;
      background-color: #3b9b6d;
    }
  }

  .side-nav-header {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 6px;

    &:first-child {
      padding-top: 10px;
      margin-top: 0;
    }
  }
}
