.stats-footnote {
  color: #9e9b95;
  font-size: 80%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 3px;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  .meta {
    background-color: #fafafa;
    line-height: 1;
    padding: 13px;
    position: relative;

    .author {
      color: #999;
      font-size: 15px;
    }

    .stat {
      display: inline-block;
      height: 26px;
      line-height: 24px;
      margin-right: 5px;
      padding-right: 5px;
      vertical-align: top;

      .octicon {
        color: #999;
      }
    }

    .action {
      border-radius: 3px;
      padding: 3px 6px;

      &:hover {
        background-color: #eaeaea;
      }
    }

    .value {
      color: #999;
      font-size: 13px;
    }

    a.linked-octicon {
      text-decoration: none;

      &:hover {
        .octicon {
          color: #3b9b6d;
        }

        .value {
          color: #3b9b6d;
        }
      }
    }
  }

  .meta-right {
    background-color: inherit;
    padding-left: 10px;
    position: absolute;
    right: 13px;
    top: 11px;
  }

  &.blank-slate {
    color: #a29f99;
    height: 132px;
    line-height: 132px;
    text-align: center;
  }
}

.package-header {
  margin-bottom: 40px;

  .columns .column {
    vertical-align: middle;
  }

  h2 {
    margin: 0;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
  }
}

.package-card,
.project-card {
  .card-name {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;

    .css-truncate-target {
      color: #3b9b6d;
    }
  }

  .keywords {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    li {
      background-color: #f8f6f2;
      border: 1px solid #efeae1;
      border-radius: 3px;
      display: inline;
      list-style-type: none;
      padding: 2px 4px;
    }

    a {
      color: #9e9b95;
    }
  }

  .card-description {
    font-size: 15px;
  }

  .card-install-button {
    font-weight: 500;
    margin-left: 9px;
  }

  .card-install-button-close {
    border: none;
    color: #9e9b95;
    cursor: pointer;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;

    &:hover,
    &:focus {
      color: #574c4f;
    }

    &:active {
      color: #9e9b95;
    }
  }

  .modal-download-atom {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    bottom: 37px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
    font-size: 15px;
    line-height: 1.3;
    padding: 12px 16px;
    position: absolute;
    right: 0;
    width: 280px;
    z-index: 1;

    &::before {
      background-color: inherit;
      border: inherit;
      border-left: none;
      border-top: none;
      bottom: -6px;
      content: "";
      height: 10px;
      pointer-events: none;
      position: absolute;
      right: 32px;
      transform: rotate(45deg);
      width: 10px;
    }

    h4 {
      margin: 0 0 5px;
    }
  }

  .body {
    padding: 7px 13px;

    .css-truncate-target {
      max-width: 100%;
    }
  }

  p {
    margin: 0;
  }

  img {
    height: 24px;
    width: 24px;
  }
}

.package-list {
  margin-bottom: 20px;

  .loading-overlay {
    background-color: rgb(255 255 255 / 70%);
    background-image: url("/assets/images/octocat-spinner-64.gif");
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    height: 456px;
    position: absolute;
    width: 980px;

    @media only screen and (resolution >= 2dppx) {
      background-image: url("/assets/images/octocat-spinner-64@2x.gif");
      background-size: 64px 64px;
    }
  }

  hr {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  .card {
    margin-bottom: 20px;
  }

  .package-list-header {
    height: 51px;
    margin-bottom: 10px;
  }

  .package-list-title {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }

  .package-list-see-all {
    display: inline-block;
    float: right;
    font-size: 15px;
    font-weight: normal;
    margin-top: 19px;
  }

  .search-sorter {
    div {
      display: inline;
      padding-left: 16px;

      .active {
        padding-left: 0;
      }

      a {
        color: #9e9b95;
      }
    }

    .icon-up,
    .icon-down {
      color: #9e9b95;
      display: none;
    }

    div.active.asc .icon-up {
      display: inline;
    }

    div.active.desc .icon-down {
      display: inline;
    }
  }

  .search-sort-select {
    float: right;
  }

  .trending-select {
    display: inline-block;

    .octicon-triangle-down {
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}

.search-form {
  display: flex;
  margin-bottom: 40px;
}

input.search-input {
  -webkit-appearance: none;
  flex: 1;
  font-size: 18px;
}

.search-button {
  line-height: 21px;
  margin-left: 7px;
  padding: 7px 14px;
}

.manual-install {
  background-color: #efeae1;
  border: 1px solid #a29f99;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  margin-top: 2px;
  padding: 0 5px 2px 18px;
  position: relative;
  white-space: nowrap;

  &::before {
    content: "$";
    left: 5px;
    position: absolute;
  }
}

.star-box {
  display: inline-block;
  vertical-align: top;

  a.social-count {
    font-size: 13px;
  }

  .star-button {
    padding: 0 6px;

    .octicon {
      margin-right: 0;
    }
  }
}

.package-meta {
  font-size: 14px;

  .time {
    color: #9e9b95;
  }

  .card-name {
    float: left;
    font-size: 16px;
    margin-right: 20px;
  }

  h3 {
    font-size: 22px;
    margin: 0;
  }

  h4 {
    clear: both;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    border: 1px solid #ddd;
    border-radius: 3px;
    display: table;
    margin-top: 0;
    padding-left: 0;
    width: 100%;

    li {
      border-right: 1px solid #ddd;
      display: table-cell;
      list-style-type: none;
      padding: 0;
      text-align: center;
      white-space: nowrap;
      width: 1%;

      a {
        color: #574c4f;
        display: block;
        height: 100%;
        padding: 5px;
        transition: color 0.2s;
        width: 100%;
      }

      a.disabled {
        color: #bdb3b5;
      }

      a.disabled:hover {
        color: #bdb3b5;
      }

      a:hover {
        color: #3b9b6d;
        text-decoration: none;
      }

      a .octicon {
        margin-right: 3px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .show-flag {
    color: #999;
    float: right;
    transition: color 0.2s;

    &:hover {
      color: #3b9b6d;
      text-decoration: none;
    }
  }

  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;

    td {
      border: 1px solid #ddd;
      padding: 0;
      text-align: center;
    }

    a {
      color: #574c4f;
      display: block;
      height: 100%;
      padding: 5px;
      width: 100%;
    }
  }

  .author {
    line-height: 0;

    img {
      display: inline-block;
      height: 20px;
      vertical-align: top;
      width: 20px;
    }
  }

  .package-card {
    .card-name {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .card-description {
      line-height: 1.4;
      white-space: normal;
    }
  }

  .css-truncate-target {
    max-width: 100%;
  }

  .minibutton {
    margin-top: 20px;
  }
}

.all-packages {
  margin-top: 20px;
  text-align: center;

  .button {
    margin-top: 20px;
  }
}

.version-callout {
  color: #9e9b95;
  font-size: 16px;
}

.official-package {
  color: #3b9b6d;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin: 20px 0;
}

.readme {
  margin-top: 40px;
}

.malicious-package-warning {
  background-color: #ffa2a2;
  background-image: linear-gradient(#ffb8b8, #ffa2a2);
  background-repeat: repeat-x;
  border: 1px solid #e08f90;
  border-radius: 5px;
  color: #7b3131;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 15px 15px 15px 57px;
  position: relative;
  vertical-align: middle;

  .mega-octicon {
    left: 15px;
    position: absolute;
    top: 14px;
  }

  .minibutton {
    position: absolute;
    right: 14px;
    top: 16px;
  }
}

.stargazers-header {
  font-size: 30px;
  font-weight: 300;
}

.theme-card {
  .upload-image.button {
    margin: 0;
  }

  .gravatar {
    height: 40px;
    width: 40px;
  }

  .avatar {
    float: left;
    margin-right: 13px;
  }

  iframe {
    background-color: #aaa;
    border: 0;
    display: block;
    height: 169px;
    width: 100%;
  }

  .theme-name {
    float: left;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    width: 100%;

    a,
    span {
      color: #574c4f;
      display: block;
      max-width: 100%;
    }
  }

  .author {
    display: block;
    float: left;
    line-height: 1.3;
    width: 100%;
  }

  .meta {
    overflow: hidden;
  }

  .preview-link {
    display: block;
    position: relative;

    .click-shield {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.card-cells {
  display: table;
  width: 100%;

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

  .gravatar-cell {
    width: 53px;
  }
}

#crop-modal {
  background: #efeae1;
  border-radius: 3px;
  padding: 20px 10px;

  .spinner {
    background-color: rgb(255 255 255 / 70%);
    background-image: url("/assets/images/octocat-spinner-64.gif");
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    margin-left: -24px;
    margin-top: -24px;
    position: absolute;
    width: 100%;
    z-index: 9999999;

    @media only screen and (resolution >= 2dppx) {
      background-image: url("/assets/images/octocat-spinner-64@2x.gif");
      background-size: 64px 64px;
    }
  }

  .flash {
    display: none;
  }

  .columns {
    padding: 0 10px;
  }

  .crop-column {
    max-width: 600px;
  }

  .preview-column {
    padding-left: 0;
    width: 306px;
  }

  .crop-viewer {
    max-height: 600px;
    overflow: hidden;
    width: 100%;
  }

  .theme-card {
    margin-bottom: 10px;
  }

  .modal-actions > a {
    margin-right: 10px;
  }

  .jcrop-holder img {
    border: 1px solid #ddd !important;
  }
}

.package-show .css-truncate-target {
  max-width: auto;
  overflow: auto;
  text-overflow: inherit;
  white-space: normal;
}
