/* line 6, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.stats-footnote {
  font-size: 80%;
  color: #9e9b95;
}

/* line 12, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list {
  margin-bottom: 20px;
}
/* line 13, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .loading-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 980px;
  height: 456px;
  background-image: url(/assets/images/octocat-spinner-64.gif);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 13, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
  .package-list .loading-overlay {
    background-image: url(/assets/images/octocat-spinner-64@2x.gif);
    -webkit-background-size: 64px 64px;
    -moz-background-size: 64px 64px;
    -o-background-size: 64px 64px;
    background-size: 64px 64px;
  }
}
/* line 26, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list hr {
  margin: 0;
}
/* line 28, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list li {
  list-style-type: none;
}
/* line 32, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .card {
  margin-bottom: 20px;
}
/* line 34, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .package-list-header {
  height: 51px;
  margin-bottom: 10px;
}
/* line 39, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .package-list-title {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}
/* line 45, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .package-list-see-all {
  float: right;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  margin-top: 19px;
}
/* line 54, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sorter div {
  display: inline;
  padding-left: 16px;
}
/* line 57, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sorter div .active {
  padding-left: 0px;
}
/* line 60, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sorter div a {
  color: #9e9b95;
}
/* line 64, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sorter .icon-up, .package-list .search-sorter .icon-down {
  color: #9e9b95;
  display: none;
}
/* line 68, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sorter div.active.asc .icon-up {
  display: inline;
}
/* line 71, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sorter div.active.desc .icon-down {
  display: inline;
}
/* line 76, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .search-sort-select {
  float: right;
}
/* line 80, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .trending-select {
  display: inline-block;
}
/* line 83, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-list .trending-select .octicon-triangle-down {
  vertical-align: middle;
  margin-left: 5px;
}

/* line 90, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card {
  position: relative;
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
}
/* line 98, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card img {
  display: inline-block;
  vertical-align: middle;
}
/* line 103, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta {
  position: relative;
  padding: 13px;
  background-color: #fafafa;
  line-height: 1;
}
/* line 109, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta .author {
  color: #999;
  font-size: 15px;
}
/* line 114, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta a.linked-octicon {
  text-decoration: none;
}
/* line 118, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta a.linked-octicon:hover .octicon {
  color: #3b9b6d;
}
/* line 122, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta a.linked-octicon:hover .value {
  color: #3b9b6d;
}
/* line 128, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta .stat {
  height: 26px;
  display: inline-block;
  line-height: 24px;
  margin-right: 5px;
  padding-right: 5px;
  vertical-align: top;
}
/* line 136, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta .stat .octicon {
  color: #999;
}
/* line 141, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta .action {
  border-radius: 3px;
  padding: 3px 6px;
}
/* line 145, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta .action:hover {
  background-color: #eaeaea;
}
/* line 150, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta .value {
  color: #999;
  font-size: 13px;
}
/* line 156, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card .meta-right {
  position: absolute;
  right: 13px;
  top: 11px;
  background-color: inherit;
  padding-left: 10px;
}
/* line 164, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card.blank-slate {
  text-align: center;
  color: #a29f99;
  height: 132px;
  line-height: 132px;
}

/* line 173, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-name, .project-card .card-name {
  font-weight: 300;
  font-size: 28px;
  margin: 0;
  line-height: 1.4;
}
/* line 179, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-name .css-truncate-target, .project-card .card-name .css-truncate-target {
  color: #3b9b6d;
}
/* line 184, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .keywords, .project-card .keywords {
  min-height: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 194, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .keywords li, .project-card .keywords li {
  padding: 2px 4px;
  list-style-type: none;
  display: inline;
  border-radius: 3px;
  border: 1px solid #efeae1;
  background-color: #f8f6f2;
}
/* line 201, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .keywords li a, .project-card .keywords li a {
  color: #9e9b95;
}
/* line 208, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-description, .project-card .card-description {
  font-size: 15px;
}
/* line 212, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-install-button, .project-card .card-install-button {
  margin-left: 9px;
  font-weight: 500;
}
/* line 217, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-install-button-close, .project-card .card-install-button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: #9e9b95;
  cursor: pointer;
  border: none;
  outline: none;
}
/* line 228, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-install-button-close:hover, .package-card .card-install-button-close:focus, .project-card .card-install-button-close:hover, .project-card .card-install-button-close:focus {
  color: #574c4f;
}
/* line 232, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .card-install-button-close:active, .project-card .card-install-button-close:active {
  color: #9e9b95;
}
/* line 237, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .modal-download-atom, .project-card .modal-download-atom {
  position: absolute;
  z-index: 1;
  width: 280px;
  right: 0;
  bottom: 37px;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.3;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
/* line 251, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .modal-download-atom::before, .project-card .modal-download-atom::before {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 32px;
  width: 10px;
  height: 10px;
  border: inherit;
  border-top: none;
  border-left: none;
  background-color: inherit;
  transform: rotate(45deg);
  pointer-events: none;
}
/* line 266, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .modal-download-atom h4, .project-card .modal-download-atom h4 {
  margin: 0 0 5px 0;
}
/* line 272, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .body, .project-card .body {
  padding: 7px 13px;
}
/* line 275, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card .body .css-truncate-target, .project-card .body .css-truncate-target {
  max-width: 100%;
}
/* line 280, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card p, .project-card p {
  margin: 0;
}
/* line 282, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-card img, .project-card img {
  height: 24px;
  width: 24px;
}

/* line 290, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.search-form {
  display: flex;
  margin-bottom: 40px;
}

/* line 295, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
input.search-input {
  flex: 1;
  font-size: 18px;
  -webkit-appearance: none;
}

/* line 301, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.search-button {
  margin-left: 7px;
  padding: 7px 14px;
  line-height: 21px;
}

/* line 307, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-header {
  margin-bottom: 40px;
}
/* line 310, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-header .columns .column {
  vertical-align: middle;
}
/* line 314, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-header h2 {
  margin: 0;
}
/* line 318, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-header h4 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 16px;
}

/* line 325, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.manual-install {
  margin-top: 2px;
  padding: 0px 5px 2px 18px;
  border: 1px solid #a29f99;
  background-color: #efeae1;
  border-radius: 3px;
  font-size: 14px;
  display: block;
  position: relative;
  white-space: nowrap;
}
/* line 336, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.manual-install:before {
  content: '$';
  position: absolute;
  left: 5px;
}

/* line 343, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.star-box {
  display: inline-block;
  vertical-align: top;
}
/* line 347, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.star-box a.social-count {
  font-size: 13px;
}
/* line 351, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.star-box .star-button {
  padding: 0 6px;
}
/* line 354, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.star-box .star-button .octicon {
  margin-right: 0px;
}

/* line 359, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta {
  font-size: 14px;
}
/* line 362, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .time {
  color: #9e9b95;
}
/* line 364, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .card-name {
  margin-right: 20px;
  font-size: 16px;
  float: left;
}
/* line 371, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta h3 {
  margin: 0;
  font-size: 22px;
}
/* line 376, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta h4 {
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 16px;
  clear: both;
}
/* line 382, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta h4:first-child {
  margin-top: 0;
}
/* line 388, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul {
  display: table;
  width: 100%;
  border: 1px solid #ddd;
  padding-left: 0;
  margin-top: 0;
  border-radius: 3px;
}
/* line 396, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li {
  display: table-cell;
  list-style-type: none;
  width: 1%;
  text-align: center;
  border-right: 1px solid #ddd;
  padding: 0;
  white-space: nowrap;
}
/* line 405, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li a {
  color: #574c4f;
  height: 100%;
  width: 100%;
  padding: 5px;
  display: block;
  transition: color 0.2s;
  -o-transform: color 0.2s;
  -moz-transform: color 0.2s;
  -webkit-transition: color 0.2s;
}
/* line 413, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li a.disabled {
  color: #bdb3b5;
}
/* line 415, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li a.disabled:hover {
  color: #bdb3b5;
}
/* line 420, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li a:hover {
  text-decoration: none;
  color: #3b9b6d;
}
/* line 425, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li a .octicon {
  margin-right: 3px;
}
/* line 430, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta ul li:last-child {
  border-right: 0;
}
/* line 436, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .show-flag {
  float: right;
  color: #999;
  transition: color 0.2s;
  -o-transform: color 0.2s;
  -moz-transform: color 0.2s;
  -webkit-transition: color 0.2s;
}
/* line 441, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .show-flag:hover {
  text-decoration: none;
  color: #3b9b6d;
}
/* line 447, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
/* line 452, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 0;
}
/* line 458, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta table a {
  color: #574c4f;
  height: 100%;
  width: 100%;
  padding: 5px;
  display: block;
}
/* line 467, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .author {
  line-height: 0;
}
/* line 470, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .author img {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
}
/* line 480, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .package-card .card-name {
  margin-bottom: 5px;
  font-size: 24px;
}
/* line 485, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .package-card .card-description {
  white-space: normal;
  line-height: 1.4;
}
/* line 491, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .css-truncate-target {
  max-width: 100%;
}
/* line 495, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-meta .minibutton {
  margin-top: 20px;
}

/* line 500, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.all-packages {
  margin-top: 20px;
  text-align: center;
}
/* line 504, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.all-packages .button {
  margin-top: 20px;
}

/* line 507, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.version-callout {
  font-size: 16px;
  color: #9e9b95;
}

/* line 512, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.official-package {
  font-size: 16px;
  color: #3b9b6d;
  font-weight: bold;
  margin: 20px 0;
  display: block;
  height: 50px;
}

/* line 521, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.readme {
  margin-top: 40px;
}

/* line 525, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.malicious-package-warning {
  position: relative;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 40px;
  padding: 15px 15px 15px 57px;
  background-color: #ffa2a2;
  background-image: -moz-linear-gradient(#ffb8b8, #ffa2a2);
  background-image: -webkit-linear-gradient(#ffb8b8, #ffa2a2);
  background-image: linear-gradient(#ffb8b8, #ffa2a2);
  background-repeat: repeat-x;
  border-radius: 5px;
  border: 1px solid #e08f90;
  color: #7b3131;
}
/* line 536, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.malicious-package-warning .mega-octicon {
  position: absolute;
  top: 14px;
  left: 15px;
}
/* line 542, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.malicious-package-warning .minibutton {
  position: absolute;
  top: 16px;
  right: 14px;
}

/* line 549, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.stargazers-header {
  font-size: 30px;
  font-weight: 300;
}

/* line 555, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .upload-image.button {
  margin: 0px;
}
/* line 558, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .gravatar {
  height: 40px;
  width: 40px;
}
/* line 563, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .avatar {
  float: left;
  margin-right: 13px;
}
/* line 568, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card iframe {
  border: 0;
  width: 100%;
  background-color: #aaa;
  display: block;
  height: 169px;
}
/* line 576, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .theme-name {
  font-weight: normal;
  width: 100%;
  font-size: 15px;
  float: left;
  margin: 0;
  line-height: 1.3;
}
/* line 584, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .theme-name a, .theme-card .theme-name span {
  color: #574c4f;
  display: block;
  max-width: 100%;
}
/* line 591, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .author {
  display: block;
  width: 100%;
  float: left;
  line-height: 1.3;
}
/* line 598, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .meta {
  overflow: hidden;
}
/* line 602, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .preview-link {
  display: block;
  position: relative;
}
/* line 606, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.theme-card .preview-link .click-shield {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 616, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card-cells {
  display: table;
  width: 100%;
}
/* line 620, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card-cells .cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 625, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.card-cells .gravatar-cell {
  width: 53px;
}

/* line 630, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal {
  background: #efeae1;
  padding: 20px 10px;
  border-radius: 3px;
}
/* line 635, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .spinner {
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url(/assets/images/octocat-spinner-64.gif);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  width: 100%;
  height: 100%;
  margin-left: -24px;
  margin-top: -24px;
  z-index: 9999999;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 635, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
  #crop-modal .spinner {
    background-image: url(/assets/images/octocat-spinner-64@2x.gif);
    -webkit-background-size: 64px 64px;
    -moz-background-size: 64px 64px;
    -o-background-size: 64px 64px;
    background-size: 64px 64px;
  }
}
/* line 649, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .flash {
  display: none;
}
/* line 653, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .columns {
  padding: 0 10px;
}
/* line 657, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .crop-column {
  max-width: 600px;
}
/* line 661, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .preview-column {
  width: 306px;
  padding-left: 0;
}
/* line 666, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .crop-viewer {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}
/* line 672, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .theme-card {
  margin-bottom: 10px;
}
/* line 676, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .modal-actions > a {
  margin-right: 10px;
}
/* line 680, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
#crop-modal .jcrop-holder img {
  border: 1px solid #ddd !important;
}

/* line 686, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/packages.scss */
.package-show .css-truncate-target {
  max-width: auto;
  white-space: normal;
  overflow: auto;
  text-overflow: inherit;
}
