.stats-footnote {
  font-size: 80%;
  color: #9e9b95;
}

.package-list {
  margin-bottom: 20px;

  .loading-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 980px;
    height: 456px;
    background-image: url("/assets/images/octocat-spinner-64.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: none;

    @media only screen and (resolution >= 2dppx) {
      background-image: url("/assets/images/octocat-spinner-64@2x.gif");
      background-size: 64px 64px;
    }
  }

  hr {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  .card {
    margin-bottom: 20px;
  }

  .package-list-header {
    height: 51px;
    margin-bottom: 10px;
  }

  .package-list-title {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }

  .package-list-see-all {
    float: right;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    margin-top: 19px;
  }

  .search-sorter {
    div {
      display: inline;
      padding-left: 16px;

      .active {
        padding-left: 0;
      }

      a {
        color: #9e9b95;
      }
    }

    .icon-up,
    .icon-down {
      color: #9e9b95;
      display: none;
    }

    div.active.asc .icon-up {
      display: inline;
    }

    div.active.desc .icon-down {
      display: inline;
    }
  }

  .search-sort-select {
    float: right;
  }

  .trending-select {
    display: inline-block;

    .octicon-triangle-down {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

.card {
  position: relative;
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  .meta {
    position: relative;
    padding: 13px;
    background-color: #fafafa;
    line-height: 1;

    .author {
      color: #999;
      font-size: 15px;
    }

    a.linked-octicon {
      text-decoration: none;

      &:hover {
        .octicon {
          color: #3b9b6d;
        }

        .value {
          color: #3b9b6d;
        }
      }
    }

    .stat {
      height: 26px;
      display: inline-block;
      line-height: 24px;
      margin-right: 5px;
      padding-right: 5px;
      vertical-align: top;

      .octicon {
        color: #999;
      }
    }

    .action {
      border-radius: 3px;
      padding: 3px 6px;

      &:hover {
        background-color: #eaeaea;
      }
    }

    .value {
      color: #999;
      font-size: 13px;
    }
  }

  .meta-right {
    position: absolute;
    right: 13px;
    top: 11px;
    background-color: inherit;
    padding-left: 10px;
  }

  &.blank-slate {
    text-align: center;
    color: #a29f99;
    height: 132px;
    line-height: 132px;
  }
}

.package-card,
.project-card {
  .card-name {
    font-weight: 300;
    font-size: 28px;
    margin: 0;
    line-height: 1.4;

    .css-truncate-target {
      color: #3b9b6d;
    }
  }

  .keywords {
    min-height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    li {
      padding: 2px 4px;
      list-style-type: none;
      display: inline;
      border-radius: 3px;
      border: 1px solid #efeae1;
      background-color: #f8f6f2;
    }

    a {
      color: #9e9b95;
    }
  }

  .card-description {
    font-size: 15px;
  }

  .card-install-button {
    margin-left: 9px;
    font-weight: 500;
  }

  .card-install-button-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: #9e9b95;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover,
    &:focus {
      color: #574c4f;
    }

    &:active {
      color: #9e9b95;
    }
  }

  .modal-download-atom {
    position: absolute;
    z-index: 1;
    width: 280px;
    right: 0;
    bottom: 37px;
    padding: 12px 16px;
    font-size: 15px;
    line-height: 1.3;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

    &:before {
      content: "";
      position: absolute;
      bottom: -6px;
      right: 32px;
      width: 10px;
      height: 10px;
      border: inherit;
      border-top: none;
      border-left: none;
      background-color: inherit;
      transform: rotate(45deg);
      pointer-events: none;
    }

    h4 {
      margin: 0 0 5px 0;
    }
  }

  .body {
    padding: 7px 13px;

    .css-truncate-target {
      max-width: 100%;
    }
  }

  p {
    margin: 0;
  }

  img {
    height: 24px;
    width: 24px;
  }
}

.search-form {
  display: flex;
  margin-bottom: 40px;
}

input.search-input {
  flex: 1;
  font-size: 18px;
  -webkit-appearance: none;
}

.search-button {
  margin-left: 7px;
  padding: 7px 14px;
  line-height: 21px;
}

.package-header {
  margin-bottom: 40px;

  .columns .column {
    vertical-align: middle;
  }

  h2 {
    margin: 0;
  }

  h4 {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 16px;
  }
}

.manual-install {
  margin-top: 2px;
  padding: 0 5px 2px 18px;
  border: 1px solid #a29f99;
  background-color: #efeae1;
  border-radius: 3px;
  font-size: 14px;
  display: block;
  position: relative;
  white-space: nowrap;

  &:before {
    content: '$';
    position: absolute;
    left: 5px;
  }
}

.star-box {
  display: inline-block;
  vertical-align: top;

  a.social-count {
    font-size: 13px;
  }

  .star-button {
    padding: 0 6px;

    .octicon {
      margin-right: 0;
    }
  }
}

.package-meta {
  font-size: 14px;

  .time {
    color: #9e9b95;
  }

  .card-name {
    margin-right: 20px;
    font-size: 16px;
    float: left;
  }

  h3 {
    margin: 0;
    font-size: 22px;
  }

  h4 {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 16px;
    clear: both;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    display: table;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 0;
    margin-top: 0;
    border-radius: 3px;

    li {
      display: table-cell;
      list-style-type: none;
      width: 1%;
      text-align: center;
      border-right: 1px solid #ddd;
      padding: 0;
      white-space: nowrap;

      a {
        color: #574c4f;
        height: 100%;
        width: 100%;
        padding: 5px;
        display: block;
        transition: color 0.2s;
        -o-transform: color 0.2s;
        -moz-transform: color 0.2s;
        -webkit-transition: color 0.2s;
      }

      a.disabled {
        color: #bdb3b5;
      }

      a.disabled:hover {
        color: #bdb3b5;
      }

      a:hover {
        text-decoration: none;
        color: #3b9b6d;
      }

      a .octicon {
        margin-right: 3px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  .show-flag {
    float: right;
    color: #999;
    transition: color 0.2s;
    -o-transform: color 0.2s;
    -moz-transform: color 0.2s;
    -webkit-transition: color 0.2s;

    &:hover {
      text-decoration: none;
      color: #3b9b6d;
    }
  }

  table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;

    td {
      border: 1px solid #ddd;
      text-align: center;
      padding: 0;
    }

    a {
      color: #574c4f;
      height: 100%;
      width: 100%;
      padding: 5px;
      display: block;
    }
  }

  .author {
    line-height: 0;

    img {
      display: inline-block;
      vertical-align: top;
      height: 20px;
      width: 20px;
    }
  }

  .package-card {
    .card-name {
      margin-bottom: 5px;
      font-size: 24px;
    }

    .card-description {
      white-space: normal;
      line-height: 1.4;
    }
  }

  .css-truncate-target {
    max-width: 100%;
  }

  .minibutton {
    margin-top: 20px;
  }
}

.all-packages {
  margin-top: 20px;
  text-align: center;

  .button {
    margin-top: 20px;
  }
}

.version-callout {
  font-size: 16px;
  color: #9e9b95;
}

.official-package {
  font-size: 16px;
  color: #3b9b6d;
  font-weight: bold;
  margin: 20px 0;
  display: block;
  height: 50px;
}

.readme {
  margin-top: 40px;
}

.malicious-package-warning {
  position: relative;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 40px;
  padding: 15px 15px 15px 57px;
  background-color: #ffa2a2;
  background-image: linear-gradient(#ffb8b8, #ffa2a2);
  background-repeat: repeat-x;
  border-radius: 5px;
  border: 1px solid #e08f90;
  color: #7b3131;

  .mega-octicon {
    position: absolute;
    top: 14px;
    left: 15px;
  }

  .minibutton {
    position: absolute;
    top: 16px;
    right: 14px;
  }
}

.stargazers-header {
  font-size: 30px;
  font-weight: 300;
}

.theme-card {
  .upload-image.button {
    margin: 0;
  }

  .gravatar {
    height: 40px;
    width: 40px;
  }

  .avatar {
    float: left;
    margin-right: 13px;
  }

  iframe {
    border: 0;
    width: 100%;
    background-color: #aaa;
    display: block;
    height: 169px;
  }

  .theme-name {
    font-weight: normal;
    width: 100%;
    font-size: 15px;
    float: left;
    margin: 0;
    line-height: 1.3;

    a,
    span {
      color: #574c4f;
      display: block;
      max-width: 100%;
    }
  }

  .author {
    display: block;
    width: 100%;
    float: left;
    line-height: 1.3;
  }

  .meta {
    overflow: hidden;
  }

  .preview-link {
    display: block;
    position: relative;

    .click-shield {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.card-cells {
  display: table;
  width: 100%;

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

  .gravatar-cell {
    width: 53px;
  }
}

#crop-modal {
  background: #efeae1;
  padding: 20px 10px;
  border-radius: 3px;

  .spinner {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url("/assets/images/octocat-spinner-64.gif");
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    width: 100%;
    height: 100%;
    margin-left: -24px;
    margin-top: -24px;
    z-index: 9999999;

    @media only screen and (resolution >= 2dppx) {
      background-image: url("/assets/images/octocat-spinner-64@2x.gif");
      background-size: 64px 64px;
    }
  }

  .flash {
    display: none;
  }

  .columns {
    padding: 0 10px;
  }

  .crop-column {
    max-width: 600px;
  }

  .preview-column {
    width: 306px;
    padding-left: 0;
  }

  .crop-viewer {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
  }

  .theme-card {
    margin-bottom: 10px;
  }

  .modal-actions > a {
    margin-right: 10px;
  }

  .jcrop-holder img {
    border: 1px solid #ddd !important;
  }
}

.package-show .css-truncate-target {
  max-width: auto;
  white-space: normal;
  overflow: auto;
  text-overflow: inherit;
}
