/* line 3, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/reward-header.scss */
.reward-header {
  background-color: #efeae1;
}
/* line 5, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/reward-header.scss */
.reward-header .wrapper {
  padding-top: 6px;
}
/* line 7, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/reward-header.scss */
.reward-header .wrapper p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #574c4f;
}
/* line 12, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/reward-header.scss */
.reward-header .wrapper p a {
  color: #3b9b6d;
}
