.reward-header {
  background-color: #efeae1;

  .wrapper {
    padding-top: 6px;

    p {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #574c4f;
    }

    a {
      color: #3b9b6d;
    }
  }
}
