.search-unavailable {
  position: relative;
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
  padding: 7px 13px;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
  }

  h4 {
    font-weight: 300;
    font-size: 28px;
    margin: 0;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}
