.select-menu-button {
  padding-right: 25px;

  .octicon {
    margin-right: 1px;
  }

  &:before {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  &.with-gravatar:before {
    top: 13px;
  }

  &.icon-only {
    padding-right: 18px;
    padding-left: 7px;

    &:before {
      right: 8px;
    }
  }

  &.primary {
    &:before {
      border-top-color: #fff;
    }

    &:hover:active {
      background-color: #4a993e;
    }
  }
}

.select-menu {
  .spinner {
    float: left;
    margin: 4px 0 0 -24px;
  }

  &.active .select-menu-modal-holder {
    display: block;
  }

  &.right-aligned {
    float: right;
    position: relative;

    .select-menu-modal-holder {
      right: 0;
    }
  }

  &.is-showing-clear-item .select-menu-clear-item {
    display: block;

    .octicon {
      color: inherit;
    }

    + .select-menu-no-results {
      display: none;
    }
  }

  &.is-loading {
    .select-menu-loading-overlay {
      display: block;
    }

    .select-menu-modal {
      min-height: 200px;
    }
  }

  &.has-error .select-menu-error-shell {
    display: block;
  }
}

.select-menu-loading-overlay {
  display: none;
  text-indent: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.8);
  animation: pulse 2s infinite linear;
  -webkit-animation: pulse 2s infinite linear;
  -moz-animation: pulse 2s infinite linear;

  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    content: "\f008";
    font: normal normal 32px/1 "octicons";
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-indent: 0;
  }
}

@keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaaaaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}

@-webkit-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaaaaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}

@-moz-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaaaaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}

@-o-keyframes pulse {
  0% {
    color: rgba(170, 170, 170, 0.1);
  }
  10% {
    color: #aaaaaa;
  }
  100% {
    color: rgba(170, 170, 170, 0.1);
  }
}

.select-menu-error-shell {
  padding: 5px;
  border-bottom: 1px solid #eee;
  display: none;

  .select-menu-error {
    display: block;
    padding: 5px 10px;
    font-weight: bold;
    color: #900;
    background-color: #FFEAEA;
    border: 1px solid #E2A0A0;
  }
}

.select-menu-modal-holder {
  position: absolute;
  display: none;
  z-index: 21;
}

.select-menu-modal {
  position: relative;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.select-menu-header {
  padding: 8px 10px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fafafa, #eee);
  background-image: -webkit-linear-gradient(#fafafa, #eee);
  background-image: linear-gradient(#fafafa, #eee);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ddd;

  .select-menu-title {
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 #fff;
  }

  .octicon {
    display: block;
    float: right;
    color: #ccc;
    cursor: pointer;

    &:hover {
      color: #555;
    }
  }
}

.select-menu-filters {
  background-color: #f8f8f8;
}

.select-menu-text-filter {
  padding: 10px 10px 0;

  &:first-child:last-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
  }

  input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 3px;

    &::-webkit-input-placeholder,
    &:-moz-placeholder {
      color: #aaa;
    }
  }
}

.select-menu-tabs {
  height: 33px;
  border-bottom: 1px solid #ddd;

  ul {
    overflow: hidden;
    padding: 14px 10px 0 10px;
  }

  .select-menu-tab {
    display: inline-block;
  }

  a {
    height: 20px;
    padding: 5px 8px;
    font-size: 11px;
    font-weight: bold;
    color: #888;
    text-decoration: none;
    line-height: 20px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;

    &:hover {
      color: #333;
    }

    &.selected {
      padding: 4px 5px;
      border: 1px solid #ddd;
      border-bottom: 1px solid #fff;
      background-color: #fff;
      color: #333;
    }
  }
}

.select-menu-list {
  max-height: 400px;
  overflow: auto;
  position: relative;

  &.select-menu-tab-bucket {
    display: none;

    &.selected {
      display: block;
    }
  }
}

.select-menu-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &.select-menu-item-template {
    display: none;
  }

  &.select-menu-clear-item {
    display: none;
  }

  &.disabled {
    &,
    &.selected {
      color: #999;

      .select-menu-item-gravatar {
        opacity: .5;
      }
    }
  }

  .octicon {
    vertical-align: middle;
  }

  input[type="radio"] {
    display: none;
  }

  .select-menu-item-icon {
    display: table-cell;
    color: transparent;
    vertical-align: top;
    padding: 8px 0 8px 8px;
    width: 24px;
    text-align: center;

    &.is-shown {
      color: inherit;
    }
  }

  &.navigation-focus {
    &,
    &.selected,
    &.select-menu-action {
      background-color: #4183c4;
      color: #fff;

      > .octicon {
        color: #fff;
      }

      .text-danger,
      .description {
        color: #fff;
      }
    }
  }

  > .octicon-dash {
    display: none;
  }

  &.indeterminate {
    > .octicon-check {
      display: none;
    }

    > .octicon-dash {
      display: table-cell;
    }
  }

  &.select-menu-action,
  &.selected {
    color: #333;
  }

  &.select-menu-action,
  &.selected {
    .description {
      color: #666;
    }
  }

  &.select-menu-action,
  &.selected {
    > .octicon {
      color: #333;
    }
  }

  &.select-menu-action .select-menu-item-text {
    font-weight: bold;
  }

  .select-menu[data-multiple] &:active {
    background-color: transparent !important;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .hidden-select-button-text {
    display: none;
  }

  .css-truncate-target {
    display: table-cell;
    max-width: 100%;
  }
}

form.select-menu-item {
  > div:first-child {
    display: none !important;
  }

  &.last-visible,
  .select-menu-list:last-child &:last-child {
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
  }
}

.select-menu-actions .select-menu-item:hover {
  background-color: #4183c4;
  color: #fff;

  > .octicon {
    color: #fff;
  }

  .description {
    color: #fff;
  }
}

.select-menu-no-results {
  padding: 9px;
  display: none;
  cursor: auto;
  color: #999;

  .select-menu-list.filterable-empty &,
  &:only-child {
    display: block;
  }
}

.select-menu-button-gravatar,
.select-menu-item-gravatar {
  overflow: hidden;
  line-height: 0;
  width: 20px;

  img {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 3px;
  }
}

.select-menu-item-gravatar {
  display: table-cell;
  padding: 6px 0 6px 8px;
  vertical-align: top;
  width: 28px;
}

.select-menu-button-gravatar {
  display: inline-block;
  margin: 6px 3px 6px 0;
  margin-right: 5px;
  vertical-align: middle;
}

.select-menu-item-text {
  display: table-cell;
  vertical-align: top;
  padding: 8px 0 8px 8px;
  text-align: left;

  &:first-child {
    margin-left: 5px;
  }

  .description {
    color: #999;
    font-size: 12px;
    max-width: 265px;
    display: block;
    margin-top: 3px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;

    .description {
      font-weight: normal;
      display: inline;
    }
  }
}

.select-menu-footer {
  padding: 8px;
  font-weight: bold;
  border-top: 1px solid #eee;

  a {
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
  }

  .octicon {
    color: #666;
  }
}

.select-menu-new-item-form {
  display: none;

  .octicon {
    color: #4183c4;
  }
}

.select-menu-list.is-showing-new-item-form {
  .select-menu-new-item-form {
    display: table;
  }

  .select-menu-no-results,
  .select-menu-clear-item {
    display: none;
  }
}

.modal-backdrop {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  body.menu-active & {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
  }
}
