/* line 20, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome {
  font: 16px/1.5 normal normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  color: #efdab9;
  background-color: #343233;
}
/* line 27, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome h1, .welcome h2, .welcome h3, .welcome h4, .welcome h5, .welcome h6 {
  color: inherit;
}
/* line 29, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome h3 {
  margin: 0;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 0.05em;
}
/* line 36, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .column > h3 {
  margin-bottom: 66.6666666667px;
}
/* line 39, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .columns + h3 {
  margin-top: 200px;
}
/* line 43, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome h4 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-weight: 500;
  font-size: 1.2em;
}
/* line 51, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome a {
  color: #ffd152;
  text-decoration: none;
}
/* line 52, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome a:hover {
  color: #ebac00;
}
/* line 53, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome a:active {
  color: #D36E2D;
}
/* line 55, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .section {
  position: relative;
  overflow: hidden;
}
/* line 61, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
}
/* line 66, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .wrapper strong {
  font-weight: 500;
  color: #98c3b7;
  background-color: #393c3c;
  padding: 0 .2em;
}
/* line 73, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .column {
  width: 50%;
}
/* line 75, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .columns .column:first-child {
  padding-right: 66.6666666667px;
}
/* line 76, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .columns .column:last-child {
  padding-left: 66.6666666667px;
}
/* line 78, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-button {
  display: inline-block;
  padding: .5em 1em;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: #343233;
  background-color: #ffd152;
}
/* line 89, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-button:hover {
  color: #343233;
  background-color: #ffc31f;
}
/* line 93, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-button:active {
  color: #343233;
  background-color: #ebac00;
  transform: translateY(2px);
}
/* line 100, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-cta {
  margin: 66.6666666667px 0 0 0;
}
/* line 104, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-bg {
  position: absolute;
}
/* line 107, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-bg--screenshot {
  bottom: 50%;
  right: 50%;
  margin-bottom: -244px;
  margin-right: 40px;
  width: 780px;
  height: 488px;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transition: filter 2s;
}
/* line 118, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome .welcome-bg--screenshot:hover {
  filter: none;
}
/* line 122, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -2px;
  left: 0;
}

/* line 136, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--hero {
  text-align: center;
  background-image: radial-gradient(ellipse closest-side at 50% 50%, #3a3f45, #37383c 25%, #343233);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  background-position: center -120px;
}
/* line 142, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--hero .wrapper {
  padding-top: 133.3333333333px;
  padding-bottom: 0;
}
/* line 147, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--hero a {
  font-size: .9em;
  color: #8e8373;
}

/* line 153, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-header {
  align-items: center;
}

/* line 157, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-header-item {
  flex: 1;
}

/* line 164, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-features {
  margin: 133.3333333333px 0 0 0;
  padding: 0 10px;
}

/* line 169, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-tagline {
  margin: 0 0 .5em 0;
  font-size: 2.3em;
  letter-spacing: 0.05em;
  font-weight: 200;
}

/* line 176, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-tagline-highlight {
  font-weight: inherit;
  color: #78b0a0;
}

/* line 184, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo {
  flex: 0 0 500px;
  height: 366px;
  background-repeat: no-repeat;
  background-image: url(/assets/images/index-logo.svg), url(/assets/images/index-portal-sides.svg);
  background-position: center;
  -webkit-user-select: none;
  user-select: none;
}

/* line 194, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circles {
  width: 366px;
  height: 366px;
  margin: auto;
  position: relative;
}

/* line 201, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle {
  position: absolute;
  left: 0;
  top: 0;
  animation: hero-logo-circle 1s linear infinite;
  will-change: transform;
}

/* line 210, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(1) {
  animation-duration: 30s;
}

/* line 211, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(2) {
  animation-duration: 40s;
}

/* line 212, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(3) {
  animation-duration: 50s;
}

/* line 213, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(4) {
  animation-duration: 60s;
}

/* line 214, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(5) {
  animation-duration: 70s;
}

/* line 215, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(6) {
  animation-duration: 80s;
}

/* line 216, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(7) {
  animation-duration: 90s;
}

/* line 217, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(8) {
  animation-duration: 100s;
}

/* line 218, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(9) {
  animation-duration: 110s;
}

/* line 219, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-logo-circle:nth-child(10) {
  animation-duration: 120s;
}

@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn);
  }
}
/* line 228, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download {
  display: inline-flex;
  margin: 4em 0 0 0;
  border-radius: 20px;
  border: 1px solid #4e4b4d;
  list-style: none;
  padding: 0;
}
/* line 236, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download li {
  padding: 1em 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 242, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download li:last-child {
  padding: 1em;
}
/* line 245, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download li + li {
  border-left: 1px solid #4e4b4d;
}
/* line 249, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .logo-wordmark {
  display: block;
}
/* line 253, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .version {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: .15em;
  font-weight: 500;
}
/* line 261, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .platform {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
  letter-spacing: .05em;
}
/* line 268, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .support {
  display: block;
  font-size: .9em;
  color: #8e8373;
}
/* line 274, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .welcome-button {
  display: block;
  font-size: 1.1em;
  padding: 1em 1.5em;
  white-space: nowrap;
}
/* line 279, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .welcome-button .octicon {
  margin-right: .8em;
}
/* line 284, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-download .welcome-button + .welcome-button {
  margin-top: .5em;
}

/* line 289, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-meta {
  margin: 2rem 0 0 0;
}
/* line 291, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-meta a + a {
  margin-left: 2rem;
}

/* line 296, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-tos {
  display: block;
  margin-bottom: 2em;
  color: #786f63;
  font-size: .8em;
}
/* line 301, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-tos a {
  font-size: inherit;
}

/* line 306, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.hero-octonaut {
  position: absolute;
  top: 100px;
  left: calc(50% - 380px);
  animation: hero-octonaut 2s alternate ease-in-out infinite;
  will-change: transform;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes hero-octonaut {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}
/* line 324, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--realtime {
  background-repeat: no-repeat;
  background-image: url(/assets/images/index-teletype-graphic.svg);
  background-position: calc(50% - 1140px) center;
}
/* line 329, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--realtime .wrapper {
  padding-right: 470px;
}
/* line 333, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--realtime .welcome-bg--screenshot {
  left: 50%;
  margin-left: 40px;
  filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);
}

/* line 343, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--github {
  background-repeat: no-repeat;
  background-image: url(/assets/images/index-github-graphic.svg);
  background-position: calc(50% + 550px) center;
}
/* line 348, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--github .wrapper {
  padding-left: 470px;
}
/* line 352, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--github .welcome-bg--screenshot {
  filter: brightness(0.7) contrast(1) sepia(1) hue-rotate(115deg) saturate(1.5);
}
/* line 357, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--github .welcome-button {
  background-color: #61efce;
}
/* line 359, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--github .welcome-button:hover {
  background-color: #45edc6;
}
/* line 362, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--github .welcome-button:active {
  background-color: #2aeabd;
}

/* line 373, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--features h3 {
  margin-bottom: 50px;
}
/* line 376, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--features .features + h3 {
  margin-top: 100px;
}
/* line 380, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--features .features-item {
  position: relative;
  padding-left: 60px;
}
/* line 384, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--features .features-item .mega-octicon {
  position: absolute;
  top: -0.25em;
  left: 0;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  font-size: 24px;
  text-align: center;
  border-radius: 6px;
  color: #efdab9;
  background-color: #3d3a3a;
}
/* line 399, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--features p {
  margin: 0;
}

/* line 407, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--contact {
  margin-bottom: -40px;
  border-top: 1px solid #1a191a;
  background-color: #2c2a2b;
  background-repeat: no-repeat;
  background-image: url(/assets/images/index-rocket.svg);
  background-position: calc(50% + 380px) 60px;
}
/* line 415, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.section--contact td:first-child {
  padding-right: 2em;
}

@media (min-width: 1101px) and (max-height: 1000px) {
  /* line 432, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .section--hero .wrapper {
    padding-top: 100px;
  }

  /* line 436, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-header {
    display: flex;
    flex-wrap: wrap;
  }

  /* line 441, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download {
    margin-top: 0;
    margin-left: 50px;
    flex-direction: column;
  }
  /* line 446, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download li {
    padding: 1em;
  }
  /* line 449, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download li:first-child {
    padding: 2em 1em;
  }
  /* line 452, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-download li + li {
    border-left: none;
    border-top: 1px solid #4e4b4d;
  }

  /* line 458, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-meta {
    flex: 1;
    margin-top: 50px;
  }

  /* line 463, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-features {
    margin-top: 100px;
  }

  /* line 467, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .hero-octonaut {
    left: calc(50% - 520px);
  }
}
@media (max-width: 1100px) {
  /* line 478, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .wrapper {
    width: auto;
    max-width: 660px;
  }
  /* line 483, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--hero {
    background-position: center -220px;
  }
  /* line 487, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-features {
    margin-top: 200px;
  }
  /* line 491, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-tagline {
    font-size: 2.4em;
  }
  /* line 495, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-download {
    flex-direction: column;
  }
  /* line 497, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-download li {
    padding: 1em;
  }
  /* line 500, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-download li:first-child {
    padding: 2em 1em;
  }
  /* line 503, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-download li + li {
    border-left: none;
    border-top: 1px solid #4e4b4d;
  }
  /* line 509, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section .wrapper {
    padding: 100px 50px;
  }
  /* line 512, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section.section--hero .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 517, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .columns {
    width: auto;
  }
  /* line 520, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .column.column {
    width: auto;
  }
  /* line 523, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .columns .column:first-child {
    padding-right: 0;
  }
  /* line 526, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .columns .column:last-child {
    margin-top: 100px;
    padding-left: 0;
  }
  /* line 531, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .column > h3 {
    margin-bottom: 50px;
  }
  /* line 534, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .columns + h3 {
    margin-top: 100px;
  }
  /* line 538, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .welcome-bgs {
    margin: 50px 0;
  }
  /* line 541, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .welcome-bg--screenshot {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    max-width: 100%;
    height: auto;
  }
  /* line 551, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .welcome-cta {
    margin: 50px 0 0 0;
  }
  /* line 555, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--features .features-item {
    margin-top: 50px;
  }
  /* line 559, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--features .column + .column {
    margin-top: 0;
  }
  /* line 563, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--realtime {
    background-position: calc(50% - 845px) calc(100% + -130px);
  }
  /* line 567, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--github {
    background-position: calc(50% + 450px) 0;
  }
  /* line 571, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--contact {
    background-position: calc(50% + 150px) bottom;
  }
}
@media (max-width: 660px) {
  /* line 582, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .hero-octonaut {
    display: none;
  }

  /* line 587, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .section--contact {
    background-image: none;
  }
}
/* line 600, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .wrapper--beta,
.welcome-beta .welcome--nightly,
.welcome-nightly .wrapper--beta,
.welcome-nightly .welcome--nightly {
  max-width: 500px;
}
/* line 605, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .section--hero,
.welcome-nightly .section--hero {
  background-image: none;
}
/* line 607, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .section--hero .wrapper,
.welcome-nightly .section--hero .wrapper {
  padding-bottom: 0;
}
/* line 612, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta h3,
.welcome-nightly h3 {
  margin: 0 0 1em 0;
}
/* line 616, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .features-item.features-item.features-item,
.welcome-nightly .features-item.features-item.features-item {
  margin-top: 50px;
}
/* line 620, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .section--features .features-item .mega-octicon,
.welcome-nightly .section--features .features-item .mega-octicon {
  top: 0;
}
/* line 624, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .section--features,
.welcome-nightly .section--features {
  margin-bottom: -40px;
}

/* line 631, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .hero-logo {
  filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);
}
/* line 636, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-beta .hero-logo-circle:nth-child(4) {
  animation-name: hero-logo-circle--reverse;
}

/* line 641, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .hero-logo {
  filter: brightness(0.8) contrast(0.6) sepia(0.9) hue-rotate(215deg) saturate(6);
}
/* line 646, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .hero-logo-circle:nth-child(4) {
  animation-name: hero-logo-circle--reverse;
}
/* line 647, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .hero-logo-circle:nth-child(8) {
  animation-name: hero-logo-circle--reverse;
}
/* line 648, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .hero-logo-circle:nth-child(10) {
  animation-name: hero-logo-circle--reverse;
}
/* line 650, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .welcome-button {
  background-color: #c67aff;
}
/* line 652, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .welcome-button:hover {
  background-color: #c170ff;
}
/* line 657, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.welcome-nightly .version {
  letter-spacing: .08em;
}

@keyframes hero-logo-circle--reverse {
  100% {
    transform: rotate(-1turn);
  }
}
/* line 670, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
.is-responsive {
  min-width: auto;
}

@media (max-width: 900px) {
  /* line 677, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .top-bar {
    height: auto;
    padding: 15px 10px;
  }
  /* line 681, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .top-bar > .wrapper {
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 688, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .top-bar .navigation {
    vertical-align: middle;
  }
  /* line 692, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .top-bar-right {
    float: none;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
  }
  /* line 699, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .footer {
    height: auto;
    padding: 20px 10px;
  }
  /* line 703, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .footer > .wrapper {
    width: 100%;
    text-align: center;
  }
  /* line 708, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .footer-left,
  .is-responsive .footer-right {
    float: none;
  }
  /* line 712, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .is-responsive .footer-right {
    margin-top: 15px;
  }
}
@media (min-width: 1101px) {
  /* line 724, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .section--features .wrapper {
    max-width: 560px;
  }
  /* line 728, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
  .welcome .features-item + .features-item {
    margin-top: 50px;
  }

  @supports (display: grid) {
    /* line 736, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
    .welcome .section--features .wrapper {
      max-width: none;
    }
    /* line 740, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
    .welcome .features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 100px 66.6666666667px;
    }
    /* line 746, /home/runner/work/atom-io/atom-io/app/assets/stylesheets/application/welcome.scss */
    .welcome .features-item.features-item {
      margin-top: 0;
    }
  }
}
