---
permalink: "/404.html"
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The page you were looking for doesn't exist (404)</title>

  <link rel="stylesheet" href="/assets/stylesheets/404.css">

  <link rel="preload" href="/assets/stylesheets/404.css" as="style">

  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

  <div class="dialog">
    <div class="wrapper-top">
      <h1 class="message">This page could not be found</h1>
    </div>

    <span class="number">404</span>

    <div class="wrapper-bottom">
      <p class="warning">Do not panic</p>
      <p class="suggestion">Perhaps you misspelled the url or it has been removed.</p>
    </div>
  </div>

  <footer class="footer"></footer>

</body>
</html>
