---
layout: "base.liquid"
---
<div class="welcome welcome-beta">
  <section class="section section--hero">
    <div class="wrapper">
      <header class="hero-header">
        <div class="hero-header-item hero-logo" aria-hidden="true">
          <div class="hero-logo-circles">
            <img class="hero-logo-circle" src="/assets/images/index-portal-red-semi.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-red.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-orange-semi.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-orange.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-yellow-semi.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-yellow.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-green-semi.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-green.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-blue-semi.svg">
            <img class="hero-logo-circle" src="/assets/images/index-portal-blue.svg">
          </div>
        </div>
        <ul class="hero-header-item hero-download">
          <li>
            <img class="logo-wordmark" src="/assets/images/index-atom-wordmark.svg">
          </li>
          <li>
            <span class="version">BETA</span>
            <a href="/releases">Release notes</a>
          </li>
          <li>
            <span class="platform">Windows</span>
            <span class="support">For 64-bit Windows 7 or later</span>
          </li>
          <li>
            <a href="https://atom.io/download/windows_x64?channel=beta" class="welcome-button js-download-button">
              <span class="octicon octicon-move-down"></span>
              Download
            </a>
          </li>
        </ul>

        <p class="hero-meta">
          <span class="hero-tos">
            By downloading, you agree to the
            <a href="https://docs.github.com/en/github/site-policy/github-open-source-applications-terms-and-conditions">Terms and Conditions</a>
            .
          </span>
          <a href="https://github.com/atom/atom/releases">Other platforms</a>
          <a href="/">Back to Atom Stable</a>
        </p>
      </header>
    </div>
  </section>

  <section class="section section--features">
    <div class="wrapper wrapper--beta">
      <h3>Try Atom Beta</h3>

      <p>
        Want to be on the bleeding edge? The Beta channel contains new features
                and bug fixes before they land on the
        <a href="/">stable channel</a>
        . It is intended for developers and early adopters. See the

        <a href="https://blog.atom.io/2015/10/21/introducing-the-atom-beta-channel.html">blog post</a>
         for more information.
      </p>

      <div class="features-item">
        <span class="mega-octicon octicon-rocket"></span>
        <p>
          Keep your current Atom configuration when using Atom Beta
        </p>
      </div>
      <div class="features-item">
        <span class="mega-octicon octicon-calendar"></span>
        <p>New Beta releases are available regularly and installed automatically</p>
      </div>
      <div class="features-item">
        <span class="mega-octicon octicon-bug"></span>
        <p>
          There may be bugs. If you have problems, please
          <a href="https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues">file an issue</a>
        </p>
      </div>
    </div>
  </section>
</div>
