---
layout: "base.liquid"
title: "Contact"
---
<div class="contact content-push" id="contact">
  <div class="wrapper">
    <div class="columns">
      <div class="column main-column">
        <h3 class="contact-title">Get in touch</h3>

        <form action="/contact" class="contact-form" method="post">
          <dl class="form">
              <dt>
                <label for="name">Name</label>
              </dt>
              <dd>
                <input type="text" name="name" id="name" disabled>
              </dd>
              <dt>
                <label for="email">Email</label>
              </dt>
              <dd>
                <input type="text" name="email" id="email" disabled>
              </dd>
              <dt>
                <label for="subject">Subject</label>
              </dt>
              <dd>
                <input type="text" name="subject" id="subject" disabled>
              </dd>
              <dt>
                <label for="Message">Message</label>
              </dt>
              <dd>
                <textarea name="body" id="body" rows="10" disabled></textarea>
              </dd>

              <input type="submit" class="button primary" name="commit" value="Send request" disabled>
          </dl>
        </form>
      </div>
      <div class="column sidebar">
        <h3>Join the community</h3>

        <table class="contact-list">
          <tr>
            <td>GitHub</td>
            <td><a href="https://github.com/atom">@atom</a></td>
          </tr>
          <tr>
            <td>Twitter</td>
            <td><a href="https://twitter.com/atomeditor">@AtomEditor</a></td>
          </tr>
          <tr>
            <td>Github Discussions</td>
            <td><a href="https://github.com/atom/atom/discussions">Github Discussions</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
