---
layout: "layouts/base.liquid"
title: "Roadmap"
---
<div class="wrapper roadmap content-push">
  <h1 class="center index-title">Atom Roadmap</h1>

  <div class="source">
    <p>Projects on this board come from open issues in the <a href="https://github.com/atom">Atom organization on GitHub</a> with the labels <a href="https://github.com/search?q=user%3Aatom+label%3Aon-deck&type=Issues">on-deck</a>, <a href="https://github.com/search?q=user%3Aatom+label%3Ain-progress&type=Issues">in-progress</a>, or <a href="https://github.com/search?q=user%3Aatom+label%3Ashipping&type=Issues">shipping</a>.</p>
  </div>
</div>
