@import "octicons/octicons/sprockets-octicons";

html {
  color: #24292e;
  font: 16px/1.5 normal normal;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.75em;
  font-weight: 300;
  margin: 0 0 2em;
}

a {
  color: #546de8;
  text-decoration: none;
}

// Sections --------------------------
.section-content {
  margin: 0 auto;
  max-width: 40em;
  padding: 6em 4em;
}

.section {
  &.hero,
  &.footer {
    background-color: #1f2533;
    color: white;
    -webkit-font-smoothing: antialiased;
    transition: background 1s;
  }

  &.hero {
    background-image: radial-gradient(#303a50, #1f2533);
  }

  &.footer {
    a {
      color: #9af;
    }

    .love a {
      color: inherit;
    }

    .section-content + .section-content {
      padding-top: 0;
    }
  }
}

// Hero --------------------------
// Logos
.logos {
  font-size: 4em;
  line-height: 0;

  .icon-atom {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  .octicon-mark-github {
    font-size: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
    width: 1em;
  }
}

.logos-plus {
  font-size: 0.5em;
  font-weight: 300;
  margin: 0 0.5em;
  vertical-align: middle;
}

.tagline {
  font-size: 2.5em;
}

// BG
.bg {
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.bg-item {
  display: none;
  position: absolute;
}

// Features --------------------------
.features {
  margin: 4em 0;
  position: relative;
}

video {
  background-image: url("/assets/images/github-atom.png");
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 0 30px 20px -20px rgb(0 0 0 / 15%);

  // Hide play button on iOS
  &::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    display: none;
  }
}

.features-description {
  font-size: 1.25em;
  margin-top: 2em;
  padding: 0 4em;
  text-align: left;

  strong {
    background-color: rgb(120 140 237 / 15%);
    padding: 0 0.2em;
  }
}

.features-button {
  color: #91a3fd;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    color: #a5b4fd;
  }

  &:active {
    color: #738afc;
  }
}

// Intro animation
.hero {
  overflow: hidden;
  position: relative;
  text-align: center;

  .header,
  .features {
    animation: animate-content 0.64s ease-out backwards;
  }

  .header {
    animation-delay: 1s;
  }

  .features {
    animation-delay: 1.3s;
  }

  .bg {
    animation: animate-bg 5s 1.6s ease-in-out backwards;
    opacity: 0.15;
    transition: opacity 2s;
  }

  &:active .bg {
    opacity: 1;
    transition-delay: 0.2s;
  }
}

@keyframes animate-content {
  0% {
    opacity: 0;
    transform: scale(1.04);
  }
}

@keyframes animate-bg {
  0% {
    opacity: 0;
    transform: scale(1.02);
  }
}

// footer --------------------------
.footer {
  position: relative;
}

.love {
  text-align: center;
  text-decoration: none;

  .octicon-logo-github {
    position: relative;
    top: 0.11em;
  }
}

// Responsive --------------------------
// Background
@media (width >= 701px) {
  // Wide
  .hero .bg {
    background-image: url("/assets/images/github-stars.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 84%;
  }
}

@media (width <= 700px) {
  // Narrow
  .hero .bg {
    background-image: url("/assets/images/github-stars-narrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (width >= 1400px) {
  // Wide
  .hero {
    padding-top: 100px;
  }

  .footer {
    padding-bottom: 100px;
  }

  .bg-item {
    display: block;
  }

  .bg-item--planet-3 {
    left: 10vw;
    top: 780px;
  }

  .bg-item--planet-2 {
    left: 2vw;
    top: 400px;
  }

  .bg-item--planet-1 {
    left: 75vw;
    top: -240px;
  }

  .bg-item--octonaut {
    right: -5vw;
    top: 460px;
  }

  .bg-item--rocket {
    right: 66vw;
    top: 80px;
  }
}

@media (width >= 980px) and (width <= 1399px) {
  // Medium
  .hero {
    padding-top: 150px;
  }

  .bg-item {
    display: block;
  }

  .bg-item--planet-3 {
    bottom: 60px;
    right: 80vw;
  }

  .bg-item--planet-2 {
    bottom: 740px;
    right: 85vw;
  }

  .bg-item--planet-1 {
    left: 72vw;
    top: -300px;
  }

  .bg-item--octonaut {
    bottom: 40px;
    left: 78vw;
  }

  .bg-item--rocket {
    right: 55vw;
    top: 70px;
  }
}

@media (width >= 701px) and (width <= 979px) {
  // Medium
  .hero {
    padding-bottom: 100px;
    padding-top: 150px;
  }

  .footer {
    padding-bottom: 100px;
  }

  .bg-item--planet-3 {
    bottom: -30px;
    display: block;
    left: 40vw;
  }

  .bg-item--planet-2 {
    bottom: 40px;
    display: block;
    right: 75vw;
  }

  .bg-item--planet-1 {
    display: block;
    left: 75vw;
    top: -160px;
    width: 430px;
  }

  .bg-item--octonaut {
    bottom: 40px;
    display: block;
    left: 70vw;
  }

  .bg-item--rocket {
    clip-path: inset(0 0 700px 0);
    display: block;
    right: 52vw;
    top: 20px;
    transform: rotate(5deg);
    width: 500px;
  }
}

@media (width <= 700px) {
  // Narrow
  .hero {
    padding-top: 150px;
  }

  .footer {
    padding-bottom: 100px;
  }

  .bg-item--planet-3 {
    bottom: 90px;
    display: block;
    right: 75vw;
  }

  .bg-item--planet-1 {
    display: block;
    left: 75vw;
    top: -90px;
    width: 300px;
  }

  .bg-item--octonaut {
    bottom: 140px;
    display: block;
    left: 70vw;
  }

  .bg-item--rocket {
    clip-path: inset(0 0 500px 0);
    display: block;
    right: 46vw;
    top: 40px;
    transform: rotate(5deg);
    width: 430px;
  }
}

// Footer
@media (width >= 1400px) {
  .footer {
    padding-bottom: 100px;
  }

  .bg-item--bottom {
    bottom: 0;
    left: 50%;
    margin-left: -680px;
  }

  .bg-item--bottom-stars {
    bottom: 150px;
    display: block;
    left: 50%;
    margin-left: -650px;
  }
}

@media (width <= 1399px) {
  .footer {
    padding-bottom: 100px;
  }

  .bg-item--bottom {
    bottom: 0;
    display: block;
    right: -11%;
    width: 120%;
  }

  .bg-item--bottom-stars {
    bottom: 12vw;
    display: block;
    left: 6%;
    width: 88%;
  }
}

// Swoosh
@media (width >= 1400px) {
  .bg-item--swoosh {
    bottom: 100px;
    display: block;
    height: 620px;
    margin-right: -490px;
    right: 50%;
  }
}

@media (width >= 900px) and (width <= 1399px) {
  .bg-item--swoosh {
    bottom: 8vw;
    display: block;
    height: 800px;
    right: 8vw;
  }
}

@media (width <= 899px) {
  .bg-item--swoosh {
    bottom: 8vw;
    display: block;
    height: 60vw;
    right: 10vw;
  }
}

// Desktop
@media (width >= 900px) {
  .hero .section-content {
    max-width: 780px;
  }

  video {
    background-size: 780px 560px;
    height: 560px;
    width: 780px;
  }

  .columns {
    column-gap: 4em;
    columns: 2;
  }

  .column {
    break-inside: avoid;
  }
}

// Mobile last :)
@media (width <= 899px) {
  .video-container {
    padding-top: 71.7949%;
    position: relative;
    width: 100%;
  }

  .video {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .column + .column {
    margin-top: 4em;
  }
}

@media (width <= 700px) {
  html {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 1em;
  }

  .section-content {
    padding: 2em;
  }

  .features {
    margin: 2em 0;
  }

  .features-description {
    padding: 0;
  }

  .column + .column {
    margin-top: 2em;
  }
}
